 <div class="container"> 
  <form #newTaskDetails="ngForm" (ngSubmit) ="handlesubmit()" >
    
<hr />
    <div class="form-group ">
      <label for="task" >Task</label>
      <input type="text" class="form-control " id="task" name="task" [(ngModel)]="tasks.task" required>
      
    </div>
    <div class="form-group ">
      <label for="C_priority">Priority:</label>
          <input type="range" class="left inline"  id="C_priority" min="0" max="30"  name="C_priority" [(ngModel)]="tasks.C_priority" required>
          <span>
              {{newTaskDetails.value.C_priority}}
          </span>
        </div>
    <div class="form-group">
        <label for="parent_task">Parent Task</label>
        <input type="text" class="form-control" id="parent_task"  name="parent_task" [(ngModel)]="tasks.parent_task" required>
      </div>
      <div class="form-group">
          <label for="C_start_date">Start date</label>
          <input type="date" class="form-control" id="C_start_date"  name="C_start_date" [(ngModel)]="tasks.C_start_date" required>
        </div>
        <div class="form-group">
            <label for="C_end_date">End date</label>
            <input type="date"  class="form-control" id="C_end_date"  name="C_end_date" [(ngModel)]="tasks.C_end_date" required >
          </div>
          <div class="form-group" id="btndivision">
              <button type="submit" routerLink="/ViewTask" class="btn btn-default">Add Task</button>
              <button type="reset" class="btn btn-default">Cancel</button>
          </div>
    
  </form>
</div>

 
